bin/
obj/
publish/

# Rider
.idea/
*.sln.iml

# Visual Studio
.vs/
*.user
*.userosscache
*.sln.doccache

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

node_modules/
packages/
*.nuget.props
*.nuget.targets

appsettings.Development.json
appsettings.Local.json
*.usersecrets
secrets.json

StudyHub.Presentation/.env
StudyHub.Presentation/.env.*
!StudyHub.Presentation/.env.example

*.log
*.sqlite
*.db