<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/d49ae2f1-3b9f-4fbd-abd9-f6111e2a93a2/resourceGroups/studyhub/providers/Microsoft.ContainerRegistry/registries/StudyHubParser20260425025310</ResourceId>
    <ResourceName>StudyHubParser20260425025310</ResourceName>
    <ResourceGroup>studyhub</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>studyhubparser20260425025310.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <_IsDockerfilePresent>true</_IsDockerfilePresent>
    <_TargetId>NetSdkAzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>